<table class="social-icons-container" align="center">
    <tr>
        <td>Follow us on</td>
    </tr>
    <tr>
        <td>
            <a href="https://www.facebook.com/taxtdscom" target="_blank"><img src="https://drive.google.com/uc?export=view&id=17eLUmRLhmG7cXh6K0g9mjnH2a-k1PraB" alt=""></a><!-- facebook -->

            <!-- <a href="" target="_blank"><img src="https://drive.google.com/uc?export=view&id=1CGLltcIr_f7-MxZXdW0aqy58-IjVWKf6" alt=""></a> -->
            <!-- google plus -->

            <a href="https://twitter.com/taxtds_com" target="_blank"><img src="https://drive.google.com/uc?export=view&id=1nKF5cTlopxJW7QFBOuAoMBQRhrRKReK7" alt=""></a><!-- twitter -->

            <a href="https://www.linkedin.com/in/tax-tds-183601224/" target="_blank"><img src="https://drive.google.com/uc?export=view&id=1U6Q7SkgM7edzXXLKOhYB9pC20nQp-sBj" alt=""></a><!-- linkedin -->

            <a href="https://www.youtube.com/channel/UCbCa3ZWUjLkyzk8WSj-GwXQ" target="_blank"><img src="https://drive.google.com/uc?export=view&id=1va6SeTeBtOqYcqFgKobfeEQtv5zroD5m" alt=""></a><!-- youtube -->

            <a href="https://wa.me/918285565503" target="_blank"><img src="https://drive.google.com/uc?export=view&id=1G1TtxtanQ-8n2hPPfroK47HwPkbXdfmF" alt=""></a><!-- whatsapp -->
        </td>
    </tr>
    <tr>
        <td style="text-align: center;">This is a system generated email, please do not reply to this email</td>
    </tr>
    <tr><td><br></td></tr>
</table>
