<footer>
    <div class="carousel-links">
        <div class="images">
            <a href=""><img src="images/carousel/1.jpg" alt="The institure of company secretaries of India"></a>
            <a href=""><img src="images/carousel/2.jpg" alt="The institure of cost accountants of India"></a>
            <a href=""><img src="images/carousel/3.jpg" alt="The institure of chartered accoun of India"></a>
            <a href=""><img src="images/carousel/4.jpg" alt="Central Board of Indirect Taxes and Customs"></a>
            <a href=""><img src="images/carousel/5.jpg" alt="Goods and services tax council"></a>
            <a href=""><img src="images/carousel/6.jpg" alt="Goods and services tax"></a>
            <a href=""><img src="images/carousel/7.jpg" alt="Ministry of corporate affairs"></a>
            <a href=""><img src="images/carousel/8.jpg" alt="Income tax department"></a>
        </div>
    </div>

    <div class="actual-footer-one">
        <div class="container">
            <div class="inner-container-one">
                <img src="images/foot-logo.png" alt="">
                <p>Worlds's No. 1 Local Business Directory Website.</p>
            </div>
            
            <div class="inner-container-two">
                <p>Follow with us</p>
                <p>Follow with Us where thousand of professionals available on India's 1st professionals Hub</p>
                <div class="social-icons-container">
                    <a href=""><i class="fab fa-facebook-square"></i></a>
                    <a href=""><i class="fab fa-google-plus-square"></i></a>
                    <a href=""><i class="fab fa-twitter-square"></i></a>
                    <a href=""><i class="fab fa-linkedin"></i></a>
                    <a href=""><i class="fab fa-youtube-square"></i></a>
                    <a href=""><i class="fab fa-whatsapp-square"></i></a>
                </div>
            </div>
        </div>

        <div class="container">
            <p>Support & Help</p>
            <ul>
                <li>About Us</li>
                <li>Register</li>
                <li>Quick Enquiry</li>
                <li>Terms & Conditions</li>
                <li>Login</li>
            </ul>
        </div>

        <div class="container">
            <p>Popular Services</p>
            <ul>
                <li>Registration Services</li>
                <li>Tax Filing</li>
                <li>Taxation Advisory & Personal advisory</li>
                <li>Investment Planning</li>
                <li>Company Compliance</li>
                <li>Audit & Insurance</li>
                <li>FCRA FEMA NGOs</li>
                <li>Valuations</li>
                <li>Accounting</li>
                <li>Services</li>
                <li>GST Return</li>
            </ul>
        </div>
    </div>

    <div class="actual-footer-two">
        <div class="container">
            <p>Free Listing to All over Cities</p>
            <p>Ahmedabad / Bangalore / Chandigarh / Chennai / Coimbatore / Delhi-NCR / Goa/Hyderabad / Indore / Jaipur / Kolkata / Mumbai / Mysore / Nagpur / Nashik / Pune / Surat / Vadodara / Rajasthan / Noida / Gurgaon / All Over India</p>
        </div>
    </div>
    <div id="footer-copyright"></div>
</footer>
