<ul class="listed-services">
    <li class="services-list">Listed Services</li>
    <li class="services-list"><a href="">Registration Services</a></li>
    <li class="services-list"><a href="">Company compliance</a></li>
    <li class="services-list"><a href="">Tax filling</a></li>
    <li class="services-list"><a href="">Audit and Insurance</a></li>
    <li class="services-list"><a href="">Taxation Advisory and Personal Advisory</a></li>
    <li class="services-list"><a href="">FCRA FEMA NGOs</a></li>
    <li class="services-list"><a href="">Valuations</a></li>
    <li class="services-list"><a href="">Accounting Services</a></li>
    <li class="services-list"><a href="">Investment Planning</a></li>
    <li class="services-list"><a href="">GST Return</a></li>
    <li class="services-list"><a href="">GST Registration</a></li>
    <li class="services-list"><a href="">GST Registration for foreigners</a></li>
    <li class="services-list"><a href="">Cancel GST Registration</a></li>
    <li class="services-list"><a href="">Temporary Registration</a></li>
    <li class="services-list"><a href="">Income Tax Registration</a></li>
    <li class="services-list"><a href="">company Registration</a></li>
    <li class="services-list"><a href="">Private Limited company</a></li>
    <li class="services-list"><a href="">Public Limited company</a></li>
    <li class="services-list"><a href="">Proprietorship Registration</a></li>
    <li class="services-list"><a href="">Partnership Registration</a></li>
    <li class="services-list"><a href="">LLP Registration</a></li>
    <li class="services-list"><a href="">Society Registration</a></li>
    <li class="services-list"><a href="">Trust Registration</a></li>
    <li class="services-list"><a href="">PF Registration</a></li>
    <li class="services-list"><a href="">ESI Registration</a></li>
    <li class="services-list"><a href="">MSME Registration</a></li>
    <li class="services-list"><a href="">FSSAI Registration</a></li>
    <li class="services-list"><a href="">Digital Registration</a></li>
    <li class="services-list"><a href="">Patent Registration</a></li>
    <li class="services-list"><a href="">Import Export Code</a></li>
    <li class="services-list"><a href="">Copy Right Registration</a></li>
    <li class="services-list"><a href="">Trademark Registration</a></li>
    <li class="services-list"><a href="">Trademark Rectification</a></li>
    <li class="services-list"><a href="">Trade mark Objection</a></li>
    <li class="services-list"><a href="">Trademark Renewal</a></li>
    <li class="services-list"><a href="">Logo Registration</a></li>
    <li class="services-list"><a href="">Provisional Patent Registration</a></li>
    <li class="services-list"><a href="">Partnership deed</a></li>
    <li class="services-list"><a href="">Company name change</a></li>
    <li class="services-list"><a href="">Registration office Change</a></li>
    <li class="services-list"><a href="">Add Directors</a></li>
    <li class="services-list"><a href="">Remove directores</a></li>
    <li class="services-list"><a href="">Increase Authorized Capital</a></li>
    <li class="services-list"><a href="">Shares Transfer</a></li>
    <li class="services-list"><a href="">MOA Amendment</a></li>
    <li class="services-list"><a href="">Add Partner</a></li>
    <li class="services-list"><a href="">Winding Up company</a></li>
    <li class="services-list"><a href="">Winding Up LLP</a></li>
    <li class="services-list"><a href="">Filing of Income tax</a></li>
    <li class="services-list"><a href="">Wealth tax returns</a></li>
    <li class="services-list"><a href="">TDS Return</a></li>
    <li class="services-list"><a href="">ESI Return</a></li>
    <li class="services-list"><a href="">Statutory Audits</a></li>
    <li class="services-list"><a href="">Tax Audits</a></li>
    <li class="services-list"><a href="">Internal and Management Audits</a></li>
    <li class="services-list"><a href="">Internal Control Review</a></li>
    <li class="services-list"><a href="">Due diligence</a></li>
    <li class="services-list"><a href="">Business and Asset Valuation</a></li>
    <li class="services-list"><a href="">System Audit</a></li>
    <li class="services-list"><a href="">Risk Assessment and Management</a></li>
    <li class="services-list"><a href="">Corporate and personal tax compliance including income-tax assessments</a></li>
    <li class="services-list"><a href="">Appeals before the Commissioner (Appeals)</a></li>
    <li class="services-list"><a href="">International and Domestic Tax Planning</a></li>
    <li class="services-list"><a href="">Filing of Income tax</a></li>
    <li class="services-list"><a href="">Wealth-tax returns of residents and non-residents individuals</a></li>
    <li class="services-list"><a href="">Tax and tds services</a></li>
    <li class="services-list"><a href="">domestic and foreign companies and other entities</a></li>
    <li class="services-list"><a href="">Compliance with law relating to Indirect taxes</a></li>
    <li class="services-list"><a href="">Personal financial planning</a></li>
    <li class="services-list"><a href="">Insurance and pension planning</a></li>
    <li class="services-list"><a href="">Advice on various foreign exchange matters under the Act</a></li>
    <li class="services-list"><a href="">Trust/Society Formation</a></li>
    <li class="services-list"><a href="">Registration u/s 12A and 80G of Income Tax Act</a></li>
    <li class="services-list"><a href="">Registration under FCRA</a></li>
    <li class="services-list"><a href="">Business Valuation</a></li>
    <li class="services-list"><a href="">Partnership Valuation</a></li>
    <li class="services-list"><a href="">Fair Valuation for IFRS Valuation in Shareholder Disputes</a></li>
    <li class="services-list"><a href="">Intangible Asset Valuation</a></li>
    <li class="services-list"><a href="">Maintenance of statutory records registers and minutes books</a></li>
    <li class="services-list"><a href="">Book Keeping and general accounting services</a></li>
    <li class="services-list"><a href="">Preparation of Financial Statements</a></li>
    <li class="services-list"><a href="">Payroll Processing</a></li>
    <li class="services-list"><a href="">Cash Forecasting Design, implementation and review of accounting manuals</a></li>
    <li class="services-list"><a href="">Book Keeping and general accounting services</a></li>
    <li class="services-list"><a href="">Preparation of Financial Statements</a></li>
    <li class="services-list"><a href="">Payroll Processing</a></li>
    <li class="services-list"><a href="">Cash Forecasting Design</a></li>
    <li class="services-list"><a href="">implementation and review of accounting manuals</a></li>
    <li class="services-list"><a href="">Life Insurance Policy (LIC)</a></li>
    <li class="services-list"><a href="">Public Provident Fund</a></li>
    <li class="services-list"><a href="">Mutual fund</a></li>
    <li class="services-list"><a href="">Equity Share</a></li>
    <li class="services-list"><a href="">Real estate investment</a></li>
    <li class="services-list"><a href="">Gold ETF</a></li>
    <li class="services-list"><a href="">Post Office investment</a></li>
    <li class="services-list"><a href="">Company Fixed Deposits</a></li>
    <li class="services-list"><a href="">Bank fixed deposits</a></li>
    <li class="services-list"><a href="">Recurring Deposits</a></li>
    <li class="services-list"><a href="">Double Accounting System</a></li>
    <li class="services-list"><a href="">Economics - Micro</a></li>
    <li class="services-list"><a href="">Economics - Macro</a></li>
    <li class="services-list"><a href="">Business Studies</a></li>
    <li class="services-list"><a href="">Fundamentals of Accounting</a></li>
    <li class="services-list"><a href="">Mercantile Law</a></li>
    <li class="services-list"><a href="">General Economics</a></li>
    <li class="services-list"><a href="">Quantitative Aptitude</a></li>
    <li class="services-list"><a href="">Accounting</a></li>
    <li class="services-list"><a href="">Cost Accounting and Financial Management</a></li>
    <li class="services-list"><a href="">Advanced Accounting</a></li>
    <li class="services-list"><a href="">Taxation</a></li>
    <li class="services-list"><a href="">Auditing and Assurance</a></li>
    <li class="services-list"><a href="">Business Laws, Ethics and Communication</a></li>
    <li class="services-list"><a href="">Information Technology and Strategic Management</a></li>
    <li class="services-list"><a href="">Corporate and other Laws</a></li>
    <li class="services-list"><a href="">Advanced Auditing and Professional Ethics</a></li>
    <li class="services-list"><a href="">Financial Reporting</a></li>
    <li class="services-list"><a href="">Strategic Financial Management</a></li>
    <li class="services-list"><a href="">Strategic Cost Management and Performance Evaluation</a></li>
    <li class="services-list"><a href="">Corporate and Economic Laws</a></li>
    <li class="services-list"><a href="">Direct Tax Laws and International Taxation</a></li>
    <li class="services-list"><a href="">Indirect Tax Laws</a></li>
    <li class="services-list"><a href="">Risk Management</a></li>
    <li class="services-list"><a href="">International Taxation</a></li>
    <li class="services-list"><a href="">Economic Laws</a></li>
    <li class="services-list"><a href="">Financial Services and Capital Markets</a></li>
    <li class="services-list"><a href="">Global Financial Reporting Standards</a></li>
    <li class="services-list"><a href="">Multidisciplinary Case Study</a></li>
</ul>
