<%- include('../partials/header/_topLinks.ejs') %>


<main id="forgot-password" style="margin: 100px;">
    <form action="forgot-password" method="post">
        <input type="text" style="font-size: 2rem; padding: 10px;" placeholder="username/email" name="username">
        <button style="font-size: 2rem; padding: 10px;" type="submit">Submit</button>
    </form>
</main>



<footer>
    <%- include('../partials/footer/actualFooter.ejs') %> 