<%- include('../partials/header/_topLinks.ejs') %>

<main id="user-profile">
    <div class="user-profile-header">
        <div>
            <h1>Hello User</h1>
            <p>Enter your username or email to proceed further</p>
        </div>
    </div>
</main>

<main id="forgot-password">
    <form action="/forgot-password" method="POST">
        <input type="text" placeholder="username/email" name="username">
        <button type="submit">Submit</button>
    </form>
</main>



<footer>
    <%- include('../partials/footer/actualFooter.ejs') %> 