<%- include('../partials/header/_topLinks.ejs') %>

<main id="user-profile">
    <div class="user-profile-header">
        <div>
            <h1>Reset password for <%= user.username %></h1>
            <p>Enter your new strong and memorable password</p>
        </div>
    </div>
</main>

<main id="forgot-password">
    <form action="" method="POST">
        <input type="password" name="password" placeholder="Password">
        <br>
        <input type="password" name="confirmPassword" placeholder="Confirm Password">
        <br>
        <button type="submit">Reset Password</button>
    </form>
</main>

<footer>
    <%- include('../partials/footer/actualFooter.ejs') %> 