<%- include('../partials/header/_topLinks.ejs') %>

<h1>Reset password for <%= user.username %></h1>
<main id="reset-password" style="margin: 100px;">
    <form action="" method="post">
        <input type="password" name="password" placeholder="Password">
        <br>
        <input type="password" name="confirmPassword" placeholder="Confirm Password">
        <br>
        <button type="submit">Reset Password</button>
    </form>
</main>

<footer>
    <%- include('../partials/footer/actualFooter.ejs') %> 