// Variables
$accent-color-one: rgb(20, 31, 49);
$accent-color-two: rgb(213, 226, 245);

$light-bg-one: white;
$light-bg-two: rgb(235, 235, 235);
$dark-bg-one: #424242;
$dark-bg-two: #121212;

$light-fg-one: black;
// $light-fg-two: ;
$dark-fg-one: #f5f5f5;
$dark-fg-two: #616161;

$light-hover: rgb(253, 242, 212);
$dark-hover: #757575;


// Setting CSS variables
:root {
    --accent-color-one: #{$accent-color-one};
    --accent-color-two: #{$accent-color-two};

    --light-bg-one: #{$light-bg-one};
    --light-bg-two: #{$light-bg-two};
    --dark-bg-one: #{$dark-bg-one};
    --dark-bg-two: #{$dark-bg-two};

    --light-fg-one: #{$light-fg-one};
    // --light-fg-two: #{$light-fg-two};
    --dark-fg-one: #{$dark-fg-one};
    --dark-fg-two: #{$dark-fg-two};

    --light-hover: #{$light-hover};
    --dark-hover: #{$dark-hover};
}


*{
    border: 0; 
    outline: 0; 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    text-decoration: none; 
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    &::selection{
        background-color: rgb(243, 222, 104);
        color: black;
    }
}

@mixin center-row-wise{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
@mixin center-column-wise{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

// Main Page Starts
body{
    background-color: rgb(235, 235, 235); 
    overflow-x: hidden;
    &::-webkit-scrollbar-track { background: rgb(235, 235, 235) }
    &::-webkit-scrollbar-thumb { background: rgb(190, 190, 190) }
    &::-webkit-scrollbar-thumb:hover { background: rgb(65, 65, 65) }
    &::-webkit-scrollbar{
        width: 10px;
        display: none;
        @media(max-width: 768px){ display: none }
    }
}

header{
    width: 100vw;
    form{
        background-color: rgb(20, 31, 49);
        padding: 10px;
        @include center-row-wise();
        align-items: center;
        @media(max-width: 768px){
            padding: 5px;
            flex-wrap: wrap;
        }
        input{
            height: 40px;
            padding: 10px;
            font-size: 1.1rem;
            border-radius: 3px;
            @media(max-width: 768px){
                font-size: 1rem;
                padding: 5px 10px;
                height: 30px;
            }
            &:nth-child(1){
                width: 150px;
                margin-right: 20px;
                @media(max-width: 768px){
                    width: 100px;
                    margin-right: 8px;
                }
            }
            &:nth-child(2){
                width: 250px;
                @media(max-width: 768px){
                    width: 150px;
                    padding: 5px 5px;
                }
            }
        }
        div.search-service{
           background-color: white;
            padding-left: 10px;
            border-radius: 3px;
            margin-right: 20px;
            @media(max-width: 768px){
                padding-left: 5px;
                margin-right: 8px;
            }
        }
        button[type='submit']{
            height: 40px;
            width: 60px;
            font-size: 1.2rem;
            border-radius: 3px;
            color: white;
            background-color: #263a78;
            &:hover{ background-color: #425ca8 }
            @media(max-width: 768px){
                height: 30px;
                font-size: 1rem;
                width: 40px;
            } 
        }
        div.nav-links{
            margin-left: 200px;
            cursor: pointer;
            @media(max-width: 950px){ margin-left: 100px }
            @media(max-width: 875px){ margin-left: 30px }
            @media(max-width: 768px){
                margin-left: 50px;
                margin-top: 10px;
            }
            @media(max-width: 500px){ margin-left: 0 }
            a{
                color: white;
                margin-right: 10px;
                &:hover{ color: blueviolet }
            }
        }
    }

    div.header-info-back{
        padding: 8px;
        background-color: rgb(213, 226, 245);
        ul{
            @include center-row-wise();
            list-style-type: none;
            align-items: center;
            @media(max-width: 768px){ flex-wrap: wrap }
            li{
                float: left;
                margin-right: 20px;
                &:last-child{ margin-right: 0 }
                a{ color: black }
            }
        }
    }
}

main{
    @include center-column-wise();
    align-items: center;
    div.image-top-main{
        max-width: 80%;
        @media(max-width: 900px){ width: 92% }
        img{
            width: 100%;
            height: 100%;
        }
    }
    div.main-details{
        max-width: 80%;
        min-width: 80%;
        margin: 0 10% 0 10%;
        @include center-row-wise();
        @media(max-width: 900px){
            margin: 0 4% 0 4%;
            max-width: 92%;
            min-width: 92%;
        }
        @media(max-width: 768px){
            flex-direction: column;
            align-items: center;
        }
        ul.listed-services{
            list-style-type: none;
            width: 350px;
            height: 100%;
            margin-right: 40px;
            padding-bottom: 20px;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            background-color: white;
            box-shadow: -6px 0px 15px 0px rgb(146, 146, 146);
            @media(max-width: 900px){ margin-right: 20px }
            @media(max-width: 768px){
                width: 94vw;
                margin-right: 0;
            }
            li{
                border-bottom: 1px solid rgb(124, 124, 124);
                padding-bottom: 5px;
                margin: 12px 10px 8px 10px;
                font-weight: 500;
                @media(max-width: 768px){
                    margin-left: 30px;
                    margin-right: 30px;
                }
                &:nth-child(1){
                    background-color: #20344c;
                    margin: 0;
                    font-size: 1.5rem;
                    padding: 15px;
                    color: white;
                }
                a{
                    color: black;
                    &:hover{
                        color: blue;
                    }
                }
            }
        }
        div.info-card-section{
            margin-top: 50px;
            @media(max-width: 768px){ margin-top: 20px }
            div.card{
                background-color: white;
                margin-bottom: 30px;
                padding: 20px 20px 30px 20px;
                border-radius: 5px;
                font-size: 1rem;        
                @media(max-width: 520px){
                    @include center-column-wise();
                }
                &:hover{
                    background-color: rgb(253, 242, 212);
                    box-shadow: 0px 0px 15px 0px rgb(167, 167, 167);
                }
                h1{
                    margin-bottom: 10px;
                    font-weight: bold;
                }
                p.name{
                    font-size: 1.2rem;
                    margin-bottom: 5px;
                    font-weight: bold;
                }
                p.address{ 
                    margin-bottom: 5px;
                    span{
                        font-weight: bold;
                    }
                }
                div.call{
                    font-size: 1.1rem;
                    margin-bottom: 5px;
                    float: left;
                    @media(max-width: 500px){ float: none }
                    i{ transform: rotate(-45deg) }
                }
                div.message{
                    margin: 0 0 25px 150px;
                    @media(max-width: 500px){ margin: 0 0 10px 0 }
                }
                a.button{
                    height: 40px;
                    width: 100px;
                    padding: 10px 15px;
                    border-radius: 3px;
                    @media(max-width: 768px){
                        margin-bottom: 5px;
                        &:last-child{ margin-bottom: 0 }
                    }
                }
                a.back-black{
                    background-color: white;
                    color: black;
                    border: 2px solid #d3d3d3;
                    &:hover{
                        background-color: #343c42;
                        border-color: #343c42;
                        color: white;
                    }
                }
                a.back-red{
                    color: white;
                    background-color: rgb(244, 67, 54);
                    border: 1px solid rgb(244, 67, 54);
                }
            }
        }
    }
}

footer{
    background-color: rgb(20, 31, 49);
    color: white;
    div.carousel-links{
        background-color: white;
        height: 150px;
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        .images{
            width: 100%;
            height: 100%;
            animation: carousel 15s linear infinite;
            &:hover{
                animation-play-state: paused;
            }
            img{
                display: inline;
                float: left;
            }
        }
        @keyframes carousel {
            100%{ transform: translateX(-1050px); }
        }
    
    }

    div.actual-footer-one{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 50px 10% 0 10%;
        @media(max-width: 900px){ padding: 30px 4% 0 4% }
        @media(max-width: 786px){ padding: 10px }
        @media(max-width: 700px){
            grid-template-columns: 1fr;
            padding: 0;
        }
        .container{
            padding-left: 50px;
            @media(max-width: 900px){ padding-left: 25px }
            @media(max-width: 768px){
                padding-left: 10px;
                padding-top: 20px;
            }
            div.inner-container-one{
                text-align: center;
            }
            div.inner-container-two{
                text-align: center;
                margin-top: 80px;
                @media(max-width: 700px){
                    margin-top: 30px;
                    margin-bottom: 30px;
                }
                .social-icons-container{
                    padding-top: 10px;
                    a{
                        text-decoration: none;
                        &:nth-child(1){ color: #4267B2; }
                        &:nth-child(2){ color: #DD4B39; }
                        &:nth-child(3){ color: #1DA1F2; }
                        &:nth-child(4){ color: #2867B2; }
                        &:nth-child(5){ color: #FF0000; }
                        &:nth-child(6){ color: #25D366; }
                        i{
                            font-size: 2rem;
                            margin-right: 5px;
                        }
                    }
                }
            }
            p{
                &:first-child{
                    font-size: 1.5rem;
                    margin-bottom: 10px;
                    @media(max-width: 700px){
                        margin-top: 30px;
                    }
                }
            }
            ul{
                margin-left: 5px;
                list-style-type: none;
                li{
                    margin-bottom: 6px;
                    &::before{
                        content: '✔';
                        margin-right: 10px;
                        color: rgba(161, 161, 161, 0.5);
                    }
                }
            }
        }
    }
    div.actual-footer-two{
        text-align: center;
        padding: 50px;
        @media(max-width: 900px){ padding: 25px }
        @media(max-width: 768px){ padding: 10px }
        @media(max-width: 700px){ margin-top: 30px }
        p{
            &:first-child{
                font-size: 1.5rem;
                margin-bottom: 10px;
            }
            &:last-child{
                color: rgba(150, 150, 150, 0.6);
            }
        }
    }
    #footer-copyright{
        text-align: center;
        padding-bottom: 5px;
        color: rgba(206, 206, 206, 0.6);
        @media(max-width: 700px){
            margin-top: 20px;
        }
    }
}
// Main Page ends




// Flash messeges start
.flash{
    position: fixed;
    top: 15px;
    right: 15px;
    width: 400px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    @media(max-width: 500px){
        top: 0;
        right: 0;
        margin: 10px 2% 0 2%;
        width: 96%;
    }
    .flash-card{
        border-radius: 10px;
        padding: 20px 10px 15px 10px;
        font-size: 1.1rem;
        font-weight: bold;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        animation: swing-in-top-fwd 0.9s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
        i{
            font-size: 2rem;
            margin-right: 10px;
        }
        span{
            position: absolute;
            right: -5px;
            top: 3px;
            cursor: pointer;
            i{
                font-size: 1.2rem;
            }
        }
    }
    .flash-success{
        min-height: 60px;
        background-color: rgb(120, 255, 120);
        span:hover{
            color: rgb(250, 120, 120);
        }
    }
    .flash-failure{
        min-height: 60px;
        background-color: rgb(250, 120, 120);
        span:hover{
            color: rgb(120, 255, 120);
        }
    }
}

// entrance animation keyframes
@keyframes swing-in-top-fwd {
    0% {
        transform: rotateX(-100deg);
        transform-origin: top;
        opacity: 0;
    }
    100% {
        transform: rotateX(0deg);
        transform-origin: top;
        opacity: 1;
    }
}
  
// Exit  keyframes (not used)
// animation: swing-out-top-bck 0.45s cubic-bezier(0.600, -0.280, 0.735, 0.045) both;
@keyframes swing-out-top-bck {
    0% {
        transform: rotateX(0deg);
        transform-origin: top;
        opacity: 1;
    }
    100% {
        transform: rotateX(-100deg);
        transform-origin: top;
        opacity: 0;
    }
}

// Flash messages end





// Modals Start
.blur{
    filter: blur(3px);
    opacity: 0.6;
}
div#loginMain, div#signupMain, div#logoutMain, div#adminLoginMain{
    background-color: rgb(213, 226, 245);
    display: none;
    position: fixed;
    padding: 40px; 
    border-radius: 10px;
    z-index: 1;
    left: calc(50vw - 240px);
    top: calc(50vh - 250px);
    @media(max-width: 450px){
        padding: 15px;
        width: 100%;
        left: 0;
    }
    span.close{
        position: relative;
        left: 90%;
        top: -10px;
        font-size: 3rem;
        padding-left: 5px;
        padding-right: 5px;
        &:hover{
            color: red;
            cursor: pointer;
        }
    }
    .loginCard{
        @include center-column-wise();
        align-items: center;
        width: 400px;
        background-color: #20344c;
        border-radius: 10px;
        margin-top: 40px;
        padding: 20px;
        padding-top: 0;
        @media(max-width: 450px){
            width: 100%;
        }
        img{
            position: relative;
            height: 120px;
            width: 120px;
            border-radius: 50%;
            border: 7px solid rgb(213, 226, 245);
            top: -60px;
        }
        form{
            margin-top: -30px;
            @include center-column-wise();
            align-items: center;
            .loginUsername, .loginPassword{
                @include center-row-wise();
                align-items: center;
                background-color: rgb(255, 51, 0);
                margin-bottom: 15px;
                padding-left: 8px;
                height: 35px;
                border-radius: 5px;
                i{
                    background-color: rgb(255, 51, 0);
                    font-size: 1.5rem;
                    margin-right: 8px;
                }
                input{
                    height: 35px;
                    width: 250px;
                    padding-left: 10px;
                    font-size: 1.2rem;
                    border-top-right-radius: 5px;
                    border-bottom-right-radius: 5px;
                }
            }
            button{
                font-size: 1.5rem;
                padding: 5px;
                width: 200px;
                background-color: rgb(255, 51, 0);
                color: white;
                border-radius: 5px;
                margin-bottom: 10px;
            }
        }
    }
}
// Modlals End




// User page start
main#user-profile{
    background-color: $light-bg-two;
    .user-profile-header{
        background-color: $accent-color-one;
        color: white;
        width: 100%;
        padding: 30px;
        @include center-row-wise();
        align-items: center;
        justify-content: space-between;
        @media(max-width: 700px){
            padding: 20px 10px; 
        }
        div{
            &:nth-child(2){
                a{
                    text-decoration: none;
                    color: white;
                    cursor: pointer;
                    float: right;
                    margin-right: 15px;
                    &:hover{
                        color: blueviolet;
                    }
                }
            }
        }
    }
    h2{
        margin: 0;
        margin-bottom: 10px;
        font-weight: bold;
        text-align: center;
    }
    div.user-profile-main-page{
        display: grid;
        grid-template-columns: 1fr 3fr;
        width: 100%;
        @media(max-width: 768px){
            grid-template-columns: 1fr;
        }
        
        div.user-profile-form{
            background-color: rgb(213, 226, 245);
            padding: 20px;
            // min-width: 400px;
            @include center-column-wise();
            justify-content: flex-start;
            align-items: center;
            @media(max-width: 768px){
                width: 100vw;
                padding: 10px;
                margin-bottom: 50px;
            }
            form.user-profile-register-service{
                @include center-column-wise();
                align-items: center;
                border-radius: 10px;
                padding: 20px;
                @media(max-width: 450px){
                    padding: 15px;
                }
                background-color: #20344c;
                div{
                    @include center-row-wise();
                    align-items: center;
                    background-color: rgb(255, 51, 0);
                    margin-bottom: 15px;
                    padding-left: 8px;
                    height: 35px;
                    border-radius: 5px;
                    i{
                        background-color: rgb(255, 51, 0);
                        font-size: 1.5rem;
                        margin-right: 8px;
                    }
                    input{
                        height: 35px;
                        width: 285px;
                        padding-left: 10px;
                        font-size: 1.05rem;
                        border-top-right-radius: 5px;
                        border-bottom-right-radius: 5px;
                    }
                }
                button{
                    font-size: 1.2rem;
                    padding: 5px;
                    width: 200px;
                    background-color: rgb(255, 51, 0);
                    color: white;
                    border-radius: 5px;
                }
            }
        }
        div.user-profile-cards{
            @include center-column-wise();
            justify-content: flex-start;
            padding: 20px 50px 0 50px;
            @media(max-width: 1000px){
                padding: 20px 20px;
            }
            @media(max-width: 768px){
                padding: 10px 10px;
            }
            div.user-profile-advert{
                background-color: white;
                margin-bottom: 30px;
                padding: 20px;
                border-radius: 5px;
                font-size: 1rem;        
                &:hover{
                    background-color: rgb(253, 242, 212);
                    box-shadow: 0px 0px 15px 0px rgb(167, 167, 167);
                }
                @media(max-width: 768px){
                    margin-bottom: 20px;
                    padding: 15px;
                }
                p{
                    font-size: 1.1rem;
                    span{
                        font-weight: bold;
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}

// user page end


// Admin Page start
div#admin-page-grid{
    min-height: 50vh;
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-gap: 30px;
    margin: 15px 10px;
    @media(max-width: 600px){
        grid-template-columns: 1fr;
    }
    div.admin-all-users{
        margin-bottom: 40px;
        @media(max-width: 600px){
            margin-bottom: 20px;
        }
        h2{
            margin: 10px;
        }
        div.card{
            padding: 20px;
            background-color: white;
            border-radius: 5px;
            margin-bottom: 10px;
            position: relative;
            &:hover{
                background-color: rgb(253, 242, 212);
                box-shadow: 0px 0px 15px 0px rgb(167, 167, 167);
            }
            @media(max-width: 600px){
                padding: 15px;
            }
            p.name{
                font-size: 1.1rem;
                // float: left;
            }
            a.button{
                height: 35px;
                padding: 8px 10px;
                background-color: rgb(244, 67, 54);
                color: white;
                border-radius: 5px;
                position: absolute;
                right: 15px;
                top: 15px;
                @media(max-width: 600px){
                    right: 8px;
                    top: 8px;
                }
            }
        }
    }
    div.admin-all-services{
        // margin: 15px 20px 40px 20px;
        h2{
            margin: 10px;
        }
        div.card{
            padding: 20px;
            padding-bottom: 30px;
            background-color: white;
            border-radius: 5px;
            margin-bottom: 10px;
            width: 100%;
            &:hover{
                background-color: rgb(253, 242, 212);
                box-shadow: 0px 0px 15px 0px rgb(167, 167, 167);
            }
            @media(max-width: 600px){
                padding: 15px;
                padding-bottom: 25px;
            }

            p.brand{
                font-size: 1.2rem;
                margin-bottom: 10px;
                font-weight: bold;
            }
            p.name{
                font-size: 1.1rem;
                margin-bottom: 5px;
            }
            p.address{
                margin-bottom: 5px;
                span{
                    font-weight: bold;
                }
            }
            div.call{
                i{
                    transform: rotate(-45deg);
                    font-weight: bold; 
                }
            }
            div.message{
                margin: -20px 0 25px 150px;
                @media(max-width: 500px){
                    margin: 0 0 20px 0;
                }
            }
            a.button{
                height: 40px;
                width: 100px;
                padding: 10px 15px;
                border-radius: 3px;
                @media(max-width: 768px){
                    margin-bottom: 5px;
                    &:last-child{ margin-bottom: 0 }
                }
            }
            a.back-black{
                background-color: white;
                color: black;
                border: 2px solid #d3d3d3;
                &:hover{
                    background-color: #343c42;
                    border-color: #343c42;
                    color: white;
                }
            }
            a.back-red{
                color: white;
                background-color: rgb(244, 67, 54);
                border: 1px solid rgb(244, 67, 54);
            }
        }
    }
}








// Admin page end