@charset "UTF-8";
* {
  border: 0;
  outline: 0;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
}

*::-moz-selection {
  background-color: #f3de68;
  color: black;
}

*::selection {
  background-color: #f3de68;
  color: black;
}

body {
  background-color: #ebebeb;
  overflow-x: hidden;
}

body::-webkit-scrollbar-track {
  background: #ebebeb;
}

body::-webkit-scrollbar-thumb {
  background: #bebebe;
}

body::-webkit-scrollbar-thumb:hover {
  background: #414141;
}

body::-webkit-scrollbar {
  width: 10px;
  display: none;
}

@media (max-width: 768px) {
  body::-webkit-scrollbar {
    display: none;
  }
}

header {
  width: 100vw;
}

header form {
  background-color: #20344c;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  header form {
    padding: 5px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

header form input {
  height: 40px;
  padding: 10px;
  font-size: 1.1rem;
  border-radius: 3px;
}

@media (max-width: 768px) {
  header form input {
    font-size: 1rem;
    padding: 5px 10px;
    height: 30px;
  }
}

header form input:nth-child(1) {
  width: 150px;
  margin-right: 20px;
}

@media (max-width: 768px) {
  header form input:nth-child(1) {
    width: 100px;
    margin-right: 8px;
  }
}

header form input:nth-child(2) {
  width: 250px;
}

@media (max-width: 768px) {
  header form input:nth-child(2) {
    width: 150px;
    padding: 5px 5px;
  }
}

header form div.search-service {
  background-color: white;
  padding-left: 10px;
  border-radius: 3px;
  margin-right: 20px;
}

@media (max-width: 768px) {
  header form div.search-service {
    padding-left: 5px;
    margin-right: 8px;
  }
}

header form button[type='submit'] {
  height: 40px;
  width: 60px;
  font-size: 1.2rem;
  border-radius: 3px;
  color: white;
  background-color: #263a78;
}

header form button[type='submit']:hover {
  background-color: #425ca8;
}

@media (max-width: 768px) {
  header form button[type='submit'] {
    height: 30px;
    font-size: 1rem;
    width: 40px;
  }
}

header form div.nav-links {
  margin-left: 200px;
}

@media (max-width: 950px) {
  header form div.nav-links {
    margin-left: 100px;
  }
}

@media (max-width: 875px) {
  header form div.nav-links {
    margin-left: 30px;
  }
}

@media (max-width: 768px) {
  header form div.nav-links {
    margin-left: 50px;
    margin-top: 10px;
  }
}

@media (max-width: 500px) {
  header form div.nav-links {
    margin-left: 0;
  }
}

header form div.nav-links a {
  color: white;
  margin-right: 10px;
}

header form div.nav-links a:hover {
  color: blueviolet;
}

header div.header-info-back {
  padding: 8px;
  background-color: #d5e2f5;
}

header div.header-info-back ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  header div.header-info-back ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

header div.header-info-back ul li {
  float: left;
  margin-right: 20px;
}

header div.header-info-back ul li:last-child {
  margin-right: 0;
}

header div.header-info-back ul li a {
  color: black;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-direction: column;
      flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main div.image-top-main {
  max-width: 80%;
}

@media (max-width: 900px) {
  main div.image-top-main {
    width: 92%;
  }
}

main div.image-top-main img {
  width: 100%;
  height: 100%;
}

main div.main-details {
  max-width: 80%;
  min-width: 80%;
  margin: 0 10% 0 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 900px) {
  main div.main-details {
    margin: 0 4% 0 4%;
    max-width: 92%;
    min-width: 92%;
  }
}

@media (max-width: 768px) {
  main div.main-details {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

main div.main-details ul.listed-services {
  list-style-type: none;
  width: 350px;
  height: 100%;
  margin-right: 40px;
  padding-bottom: 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: white;
  -webkit-box-shadow: -6px 0px 15px 0px #929292;
          box-shadow: -6px 0px 15px 0px #929292;
}

@media (max-width: 900px) {
  main div.main-details ul.listed-services {
    margin-right: 20px;
  }
}

@media (max-width: 768px) {
  main div.main-details ul.listed-services {
    width: 94vw;
    margin-right: 0;
  }
}

main div.main-details ul.listed-services li {
  border-bottom: 1px solid #7c7c7c;
  padding-bottom: 5px;
  margin: 12px 10px 8px 10px;
  font-weight: 500;
}

@media (max-width: 768px) {
  main div.main-details ul.listed-services li {
    margin-left: 30px;
    margin-right: 30px;
  }
}

main div.main-details ul.listed-services li:nth-child(1) {
  background-color: #20344c;
  margin: 0;
  font-size: 1.5rem;
  padding: 15px;
  color: white;
}

main div.main-details ul.listed-services li a {
  color: black;
}

main div.main-details ul.listed-services li a:hover {
  color: blue;
}

main div.main-details div.info-card-section {
  margin-top: 50px;
}

@media (max-width: 768px) {
  main div.main-details div.info-card-section {
    margin-top: 20px;
  }
}

main div.main-details div.info-card-section div.card {
  background-color: white;
  margin-bottom: 30px;
  padding: 20px 20px 30px 20px;
  border-radius: 5px;
  font-size: 1rem;
}

@media (max-width: 520px) {
  main div.main-details div.info-card-section div.card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-direction: column;
        flex-direction: column;
  }
}

main div.main-details div.info-card-section div.card:hover {
  background-color: #fdf2d4;
  -webkit-box-shadow: 0px 0px 15px 0px #a7a7a7;
          box-shadow: 0px 0px 15px 0px #a7a7a7;
}

main div.main-details div.info-card-section div.card h1 {
  margin-bottom: 10px;
  font-weight: bold;
}

main div.main-details div.info-card-section div.card p.name {
  font-size: 1.2rem;
  margin-bottom: 5px;
  font-weight: bold;
}

main div.main-details div.info-card-section div.card p.address {
  margin-bottom: 5px;
}

main div.main-details div.info-card-section div.card p.address span {
  font-weight: bold;
}

main div.main-details div.info-card-section div.card div.call {
  font-size: 1.2rem;
  margin-bottom: 5px;
  float: left;
}

@media (max-width: 500px) {
  main div.main-details div.info-card-section div.card div.call {
    float: none;
  }
}

main div.main-details div.info-card-section div.card div.call i {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

main div.main-details div.info-card-section div.card div.message {
  margin: 0 0 25px 250px;
}

@media (max-width: 500px) {
  main div.main-details div.info-card-section div.card div.message {
    margin: 0 0 10px 0;
  }
}

main div.main-details div.info-card-section div.card a.button {
  height: 40px;
  padding: 10px 15px;
  border-radius: 3px;
}

main div.main-details div.info-card-section div.card a.button:hover {
  font-weight: bold;
}

@media (max-width: 768px) {
  main div.main-details div.info-card-section div.card a.button {
    margin-bottom: 5px;
  }
  main div.main-details div.info-card-section div.card a.button:last-child {
    margin-bottom: 0;
  }
}

main div.main-details div.info-card-section div.card a.back-black {
  background-color: white;
  color: black;
  border: 2px solid #d3d3d3;
}

main div.main-details div.info-card-section div.card a.back-black:hover {
  background-color: #343c42;
  color: white;
  border: 0;
}

main div.main-details div.info-card-section div.card a.back-red {
  color: white;
  background-color: #f44336;
  border: 1px solid #f44336;
}

footer {
  background-color: #141f31;
  color: white;
}

footer div.carousel-links {
  background-color: white;
  height: 150px;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

footer div.carousel-links .images {
  width: 100%;
  height: 100%;
  -webkit-animation: carousel 15s linear infinite;
          animation: carousel 15s linear infinite;
}

footer div.carousel-links .images:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

footer div.carousel-links .images img {
  display: inline;
  float: left;
}

@-webkit-keyframes carousel {
  100% {
    -webkit-transform: translateX(-1050px);
            transform: translateX(-1050px);
  }
}

@keyframes carousel {
  100% {
    -webkit-transform: translateX(-1050px);
            transform: translateX(-1050px);
  }
}

footer div.actual-footer-one {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  padding: 50px 10% 0 10%;
}

@media (max-width: 900px) {
  footer div.actual-footer-one {
    padding: 30px 4% 0 4%;
  }
}

@media (max-width: 786px) {
  footer div.actual-footer-one {
    padding: 10px;
  }
}

@media (max-width: 700px) {
  footer div.actual-footer-one {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    padding: 0;
  }
}

footer div.actual-footer-one .container {
  padding-left: 50px;
}

@media (max-width: 900px) {
  footer div.actual-footer-one .container {
    padding-left: 25px;
  }
}

@media (max-width: 768px) {
  footer div.actual-footer-one .container {
    padding-left: 10px;
    padding-top: 20px;
  }
}

footer div.actual-footer-one .container div.inner-container-one {
  text-align: center;
}

footer div.actual-footer-one .container div.inner-container-two {
  text-align: center;
  margin-top: 80px;
}

@media (max-width: 700px) {
  footer div.actual-footer-one .container div.inner-container-two {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

footer div.actual-footer-one .container div.inner-container-two .social-icons-container {
  padding-top: 10px;
}

footer div.actual-footer-one .container div.inner-container-two .social-icons-container a {
  text-decoration: none;
}

footer div.actual-footer-one .container div.inner-container-two .social-icons-container a:nth-child(1) {
  color: #4267B2;
}

footer div.actual-footer-one .container div.inner-container-two .social-icons-container a:nth-child(2) {
  color: #DD4B39;
}

footer div.actual-footer-one .container div.inner-container-two .social-icons-container a:nth-child(3) {
  color: #1DA1F2;
}

footer div.actual-footer-one .container div.inner-container-two .social-icons-container a:nth-child(4) {
  color: #2867B2;
}

footer div.actual-footer-one .container div.inner-container-two .social-icons-container a:nth-child(5) {
  color: #FF0000;
}

footer div.actual-footer-one .container div.inner-container-two .social-icons-container a:nth-child(6) {
  color: #25D366;
}

footer div.actual-footer-one .container div.inner-container-two .social-icons-container a i {
  font-size: 2rem;
  margin-right: 5px;
}

footer div.actual-footer-one .container p:first-child {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

@media (max-width: 700px) {
  footer div.actual-footer-one .container p:first-child {
    margin-top: 30px;
  }
}

footer div.actual-footer-one .container ul {
  margin-left: 5px;
  list-style-type: none;
}

footer div.actual-footer-one .container ul li {
  margin-bottom: 6px;
}

footer div.actual-footer-one .container ul li::before {
  content: '✔';
  margin-right: 10px;
  color: rgba(161, 161, 161, 0.5);
}

footer div.actual-footer-two {
  text-align: center;
  padding: 50px;
}

@media (max-width: 900px) {
  footer div.actual-footer-two {
    padding: 25px;
  }
}

@media (max-width: 768px) {
  footer div.actual-footer-two {
    padding: 10px;
  }
}

@media (max-width: 700px) {
  footer div.actual-footer-two {
    margin-top: 30px;
  }
}

footer div.actual-footer-two p:first-child {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

footer div.actual-footer-two p:last-child {
  color: rgba(150, 150, 150, 0.6);
}

footer #footer-copyright {
  text-align: center;
  padding-bottom: 5px;
  color: rgba(206, 206, 206, 0.6);
}

@media (max-width: 700px) {
  footer #footer-copyright {
    margin-top: 20px;
  }
}
/*# sourceMappingURL=style.css.map */