<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error | Not Found</title>

    <!-- Google Fonts CDN -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap" rel="stylesheet">
    
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="/images/fav.ico"/>

    <style>
        .main{
            margin: 15px;
            font-family: 'Quicksand', sans-serif;
            font-weight: 500;
        }
    </style>
</head>
<body>
    <div class="main">
        <h1>Not Found</h1>
        <h3>The page you are looking for is not found</h3>
        <p>Check the link and try again</p>
    </div>
</body>
</html>