<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>taxtds</title>

    <!-- Font Awesome CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- User Defined Styles -->
    <link rel="stylesheet" href="style/style.css">

    <!-- Scripts -->
    <script src="frontendJs/script.js" defer></script>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="images/fav.ico"/>

    <!-- Google Fonts CDN -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- SEO Meta Descriptions -->
    <!--  -->
</head>

<body>
    <%- include('partials/_header.ejs') %> 

    <main>
        <div class="image-top-main">
            <img src="images/back.jpg" alt="">
        </div>
        <div class="main-details">
            <%- include('partials/_listed_services.ejs') %> 
    
            <div class="info-card-section">
                <% for(let i=0; i<20; i++){ %>
                    <div class="card">
                        <h1 class="brand">Ankit Sehra and Assosiates</h1>
                        <p class="name">Mr. Ankit Sehra, New Delhi</p>
                        <p class="address"><span>Address:</span> Visit Us WZ-246 B1, Opp. Metro Pillar No.660, Chatrapati Shivaji Marg, Uttam Nagar, New Delhi, Delhi, 110059</p>
                        <div class="call"><i class="fas fa-phone-volume"></i> 9891571973</div>
                        <div class="message"><i class="far fa-envelope"></i> contact@expi</div>
                        <a href="" class="button back-black"><i class="far fa-star"></i> Write Review</a>
                        <a href="" class="button back-black"><i class="fas fa-phone-alt"></i> Call Now</a>
                        <a href="" class="button back-red"><i class="fas fa-dollar-sign"></i> Get Quotes</a>
                    </div>
                <% } %> 
            </div>
        </div>
    </main>

    <%- include('partials/_footer.ejs') %> 

</body>
</html>