        
        <div class="actual-footer-one">
            <div class="container">
                <div class="inner-container-one">
                    <img src="images/foot-logo.png" alt="">
                    <p>Worlds's No. 1 Local Business Directory Website.</p>
                </div>
                
                <div class="inner-container-two">
                    <p>Follow with us</p>
                    <p>Follow with Us where thousand of professionals available on India's 1st professionals Hub</p>
                    <div class="social-icons-container">
                        <a href=""><i class="fab fa-facebook-square"></i></a>
                        <a href=""><i class="fab fa-google-plus-square"></i></a>
                        <a href=""><i class="fab fa-twitter-square"></i></a>
                        <a href=""><i class="fab fa-linkedin"></i></a>
                        <a href=""><i class="fab fa-youtube-square"></i></a>
                        <a href=""><i class="fab fa-whatsapp-square"></i></a>
                    </div>
                </div>
            </div>

            <div class="container">
                <p>Support & Help</p>
                <ul>
                    <li>About Us</li>
                    <li>Register</li>
                    <li>Quick Enquiry</li>
                    <li>Terms & Conditions</li>
                    <li>Login</li>
                </ul>
            </div>

            <div class="container">
                <p>Popular Services</p>
                <ul>
                    <li>Registration Services</li>
                    <li>Tax Filing</li>
                    <li>Taxation Advisory & Personal advisory</li>
                    <li>Investment Planning</li>
                    <li>Company Compliance</li>
                    <li>Audit & Insurance</li>
                    <li>FCRA FEMA NGOs</li>
                    <li>Valuations</li>
                    <li>Accounting</li>
                    <li>Services</li>
                    <li>GST Return</li>
                </ul>
            </div>
        </div>

        <div class="actual-footer-two">
            <div class="container">
                <p>Free Listing to All over Cities</p>
                <p>Ahmedabad / Bangalore / Chandigarh / Chennai / Coimbatore / Delhi-NCR / Goa/Hyderabad / Indore / Jaipur / Kolkata / Mumbai / Mysore / Nagpur / Nashik / Pune / Surat / Vadodara / Rajasthan / Noida / Gurgaon / All Over India</p>
            </div>
        </div>
        <div id="footer-copyright"></div>
    </footer>

    <!-- User defined Scripts -->
    <script src="frontendJs/script.js" type="module"></script>

</body>
</html>
