<footer>
    <div class="carousel-links">
        <div class="images">
            <a href=""><img src="images/carousel/1.jpg" alt="The institure of company secretaries of India"></a>
            <a href=""><img src="images/carousel/2.jpg" alt="The institure of cost accountants of India"></a>
            <a href=""><img src="images/carousel/3.jpg" alt="The institure of chartered accoun of India"></a>
            <a href=""><img src="images/carousel/4.jpg" alt="Central Board of Indirect Taxes and Customs"></a>
            <a href=""><img src="images/carousel/5.jpg" alt="Goods and services tax council"></a>
            <a href=""><img src="images/carousel/6.jpg" alt="Goods and services tax"></a>
            <a href=""><img src="images/carousel/7.jpg" alt="Ministry of corporate affairs"></a>
            <a href=""><img src="images/carousel/8.jpg" alt="Income tax department"></a>
        </div>
    </div>