*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    text-decoration: none; 
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    &::selection{
        background-color: rgb(243, 222, 104);
        color: black;
    }
}

@mixin center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mailer{
    @include center();
    .signup-mailer-template{
        max-width: 650px;
        min-width: 300px;
        background-color: rgb(235, 235, 235); 
        .signup-mailer-header{
            @include center();
            width: 100%;
            padding: 10px;
            background-color: rgb(20, 31, 49);   
            color: white;
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;
            img{
                width: 100%;
                border-radius: 10px;
            }
            margin-bottom: 20px;
        }
        .signup-mailer-info{
            @include center();
            margin-bottom: 20px;
            padding: 0 10px 0 10px;
            table{
                padding: 20px;
                background-color: white;
                border-radius: 10px;
            }
        }
        .signup-mailer-footer{
            @include center();
            background-color: rgb(20, 31, 49);
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            color: white;
            width: 100%;
            padding: 15px;
            .social-icons-container{
                padding: 10px 0 10px 0;
                a{
                    text-decoration: none;
                    &:nth-child(1){ color: #4267B2; }
                    &:nth-child(2){ color: #DD4B39; }
                    &:nth-child(3){ color: #1DA1F2; }
                    &:nth-child(4){ color: #2867B2; }
                    &:nth-child(5){ color: #FF0000; }
                    &:nth-child(6){ color: #25D366; }
                    i{
                        font-size: 2rem;
                        margin-right: 5px;
                    }
                }
            }
        }
    }
}
