* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
}

*::-moz-selection {
  background-color: #f3de68;
  color: black;
}

*::selection {
  background-color: #f3de68;
  color: black;
}

.mailer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mailer .signup-mailer-template {
  max-width: 650px;
  min-width: 300px;
  background-color: #ebebeb;
}

.mailer .signup-mailer-template .signup-mailer-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 10px;
  background-color: #141f31;
  color: white;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-bottom: 20px;
}

.mailer .signup-mailer-template .signup-mailer-header img {
  width: 100%;
  border-radius: 10px;
}

.mailer .signup-mailer-template .signup-mailer-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  padding: 0 10px 0 10px;
}

.mailer .signup-mailer-template .signup-mailer-info table {
  padding: 20px;
  background-color: white;
  border-radius: 10px;
}

.mailer .signup-mailer-template .signup-mailer-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #141f31;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  color: white;
  width: 100%;
  padding: 15px;
}

.mailer .signup-mailer-template .signup-mailer-footer .social-icons-container {
  padding: 10px 0 10px 0;
}

.mailer .signup-mailer-template .signup-mailer-footer .social-icons-container a {
  text-decoration: none;
}

.mailer .signup-mailer-template .signup-mailer-footer .social-icons-container a:nth-child(1) {
  color: #4267B2;
}

.mailer .signup-mailer-template .signup-mailer-footer .social-icons-container a:nth-child(2) {
  color: #DD4B39;
}

.mailer .signup-mailer-template .signup-mailer-footer .social-icons-container a:nth-child(3) {
  color: #1DA1F2;
}

.mailer .signup-mailer-template .signup-mailer-footer .social-icons-container a:nth-child(4) {
  color: #2867B2;
}

.mailer .signup-mailer-template .signup-mailer-footer .social-icons-container a:nth-child(5) {
  color: #FF0000;
}

.mailer .signup-mailer-template .signup-mailer-footer .social-icons-container a:nth-child(6) {
  color: #25D366;
}

.mailer .signup-mailer-template .signup-mailer-footer .social-icons-container a i {
  font-size: 2rem;
  margin-right: 5px;
}
/*# sourceMappingURL=style.css.map */