<div id="loginMain" data-display="0">
    <span class="close">&times;</span>
    <div class="loginCard">
        <img src="images/fav.ico" alt="">
        <form action="/login" method="POST">
            <div class="loginUsername">
                <i class="fas fa-user"></i>
                <input type="email" name="username" placeholder="email" required>
            </div>
            <div class="loginPassword">
                <i class="fas fa-key"></i>
                <input type="password" name="password" placeholder="password" required>
            </div>
            <button type="submit">Login</button>
        </form>
    </div>
</div>