<div id="signupMain" data-display="0">
    <span class="close">&times;</span>
    <div class="loginCard">
        <img src="images/fav.ico" alt="">

        <form action="/signup" method="POST">
            <div class="loginUsername">
                <i class="fas fa-user"></i>
                <input type="email" name="username" placeholder="email" required>
            </div>
            <div class="loginPassword">
                <i class="fas fa-key"></i>
                <input type="password" name="password" placeholder="password">
            </div>
            <div class="loginPassword">
                <i class="fas fa-key"></i>
                <input type="password" name="confirm_password" placeholder="confirm password" required>
            </div>
            <button type="submit">Sign Up</button>
        </form>

    </div>
</div>