<% const list = [ 
"Registration Services", 
"Company Compliance", 
"Tax Filling", 
"Audit And Insurance", 
"Taxation Advisory And Personal Advisory", 
"FCRA FEMA NGOs", 
"Valuations", 
"Accounting Services", 
"Investment Planning", 
"GST Return", 
"GST Registration", 
"GST Registration For Foreigners", 
"Cancel GST Registration", 
"Temporary Registration", 
"Income Tax Registration", 
"Company Registration", 
"Private Limited Company", 
"Public Limited Company", 
"Proprietorship Registration", 
"Partnership Registration", 
"LLP Registration", 
"Society Registration", 
"Trust Registration", 
"PF Registration", 
"ESI Registration", 
"MSME Registration", 
"FSSAI Registration", 
"Digital Registration", 
"Patent Registration", 
"Import Export Code", 
"Copyright Registration", 
"Trademark Registration", 
"Trademark Rectification", 
"Trade Mark Objection", 
"Trademark Renewal", 
"Logo Registration", 
"Provisional Patent Registration", 
"Partnership Deed", 
"Company Name Change", 
"Registration Office Change", 
"Add Directors", 
"Remove Directores", 
"Increase Authorized Capital", 
"Shares Transfer", 
"MOA Amendment", 
"Add Partner", 
"Winding Up Company", 
"Winding Up LLP", 
"Filing Of Income Tax", 
"Wealth Tax Returns", 
"TDS Return", 
"ESI Return", 
"Statutory Audits", 
"Tax Audits", 
"Internal And Management Audits", 
"Internal Control Review", 
"Due Diligence", 
"Business And Asset Valuation", 
"System Audit", 
"Risk Assessment And Management", 
"Corporate And Personal Tax Compliance Including Income Tax Assessments", 
"Appeals Before The Commissioner (Appeals)", 
"International And Domestic Tax Planning", 
"Filing Of Income Tax", 
"Wealth Tax Returns Of Residents And Non Residents Individuals", 
"Tax And Tds Services", 
"Domestic And Foreign Companies And Other Entities", 
"Compliance With Law Relating To Indirect Taxes", 
"Personal Financial Planning", 
"Insurance And Pension Planning", 
"Advice On Various Foreign Exchange Matters Under The Act", 
"Trust/Society Formation", 
"Registration U/S 12A And 80G Of Income Tax Act", 
"Registration Under FCRA", 
"Business Valuation", 
"Partnership Valuation", 
"Fair Valuation For IFRS Valuation In Shareholder Disputes", 
"Intangible Asset Valuation", 
"Maintenance Of Statutory Records Registers And Minutes Books", 
"Book Keeping And General Accounting Services", 
"Preparation Of Financial Statements", 
"Payroll Processing", 
"Cash Forecasting Design, Implementation And Review Of Accounting Manuals", 
"Book Keeping And General Accounting Services", 
"Preparation Of Financial Statements", 
"Payroll Processing", 
"Cash Forecasting Design", 
"Implementation And Review Of Accounting Manuals", 
"Life Insurance Policy (LIC)", 
"Public Provident Fund", 
"Mutual Fund", 
"Equity Share", 
"Real Estate Investment", 
"Gold ETF", 
"Post Office Investment", 
"Company Fixed Deposits", 
"Bank Fixed Deposits", 
"Recurring Deposits", 
"Double Accounting System", 
"Economics - Micro", 
"Economics - Macro", 
"Business Studies", 
"Fundamentals Of Accounting", 
"Mercantile Law", 
"General Economics", 
"Quantitative Aptitude", 
"Accounting", 
"Cost Accounting And Financial Management", 
"Advanced Accounting", 
"Taxation", 
"Auditing And Assurance", 
"Business Laws, Ethics And Communication", 
"Information Technology And Strategic Management", 
"Corporate And Other Laws", 
"Advanced Auditing And Professional Ethics", 
"Financial Reporting", 
"Strategic Financial Management", 
"Strategic Cost Management And Performance Evaluation", 
"Corporate And Economic Laws", 
"Direct Tax Laws And International Taxation", 
"Indirect Tax Laws", 
"Risk Management", 
"International Taxation", 
"Economic Laws", 
"Financial Services And Capital Markets", 
"Global Financial Reporting Standards", 
"Multidisciplinary Case Study" 
]; %>

<ul class="listed-services">
    <li class="services-list">Listed Services</li>
    <% for(let i=0; i<list.length; i++){ %>
        <li class="services-list"><a href="/search?state=&service=<%= list[i].replace(/ /g, "+"); %>"><%= list[i] %></a></li>
    <% } %>
</ul>
