<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= titleTop %> </title>

    <!-- Font Awesome CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Google Fonts CDN -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- User Defined Styles -->
    <link rel="stylesheet" href="style/style.css"> 

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="images/fav.ico"/>

    <!-- SEO Meta Descriptions -->
    <meta name=”description” content="Taxtds is the World's number number one local business directory website">
    <meta name="robots" content="index">
    <meta name="keywords" content="Taxtds, local business, business directory">
    <!-- <link rel="canonical" href="">  link to the main (home) page of taxtds when deploy -->

</head>

<body>
    <div class="flash">
        <% if(success.length>0){ %>
            <% success.forEach(successMessage => { %>
                <div class="flash-card flash-success">
                    <i class="fas fa-check-circle"></i>
                    <%= successMessage %>
                </div>
            <% }) %>
        <% } %>
        
        <% if(failure.length>0){ %>
            <% failure.forEach(failureMessage => { %>
                <div class="flash-card flash-failure">
                    <i class="fas fa-exclamation-circle"></i>
                    <%= failureMessage %>
                </div>            
            <% }) %>
        <% } %>

        <script>
            const flashDiv = document.querySelector('.flash-card');
            setTimeout(() => {
                flashDiv.style.display = 'none';
            }, 4000);     
        </script>
    </div>
        