    <div class="header-info-back">
        <ul>
            <li><a href="/professions?profession=CA">Chartered Accountant</a></li>
            <li><a href="/professions?profession=CMA">Cost Accountant</a></li>
            <li><a href="/professions?profession=CS">Company Secretory</a></li>
            <li><a href="/professions?profession=all">All Professionals</a></li>
        </ul>
    </div>
</header>