<header>
    <form action="/search" method="GET">
        <input id="state" type="text" placeholder="Enter State" name="state">
        <div class="search-service">
            <i class="fas fa-search"></i>
            <input id="service" type="text" name="service" placeholder="Search your services">
        </div>
        <button type="submit" class="search-icon">
            <i class="fas fa-search"></i>
        </button>

        <script>
            const state = document.getElementById('state');
            const service = document.getElementById('service');
            document.querySelector('.search-icon').addEventListener('click', (e) => {
                if(state.value == '' && service.value == ''){
                    e.preventDefault();
                    alert('Both search query cannot be empty')
                }
            })
        </script>

        <div class="nav-links">
            <% if(user != null || user != undefined){ %>
                <a id="user-profile" href="/user"><i class="fas fa-user"></i> Profile</a>
            <% } else{ %>
                <a id="loginBtn"><i class="fas fa-key"></i> Login</a>
                <a id="signupBtn"><i class="fas fa-sign-in-alt"></i> Signup</a>
            <% } %>

            <% if(admin){ %>
                <a href="/admin" id="user-profile"><i class="fas fa-user"></i> Admin</a>    
            <% } else{ %>
                <a id="userAdminBtn"><i class="fas fa-user-cog"></i> Admin</a>
            <% } %>
            <a id="getQuotesBtn"><i class="fas fa-question-circle"></i> Get Quotes</a>
        </div>
    </form>
