<header>
    <form action="/search" method="GET">
        <input type="text" placeholder="Enter State" name="state">
        <div class="search-service">
            <i class="fas fa-search"></i>
            <input type="text" name="service"
                placeholder="Search your services like income tax consultant, gst consultants and more">
        </div>
        <button type="submit" class="search-icon">
            <i class="fas fa-search"></i>
        </button>

        <div class="nav-links">
            <% if(user != null || user != undefined){ %>
                <a id="user-profile" href="/user">
                    <i class="fas fa-user"></i>
                    &nbsp;Profile
                </a>
            <% } else{ %>
                <a id="loginBtn">
                    <i class="fas fa-key"></i>
                    &nbsp;Login
                </a>
                <a id="signupBtn">
                    <i class="fas fa-sign-in-alt"></i>
                    &nbsp;Signup
                </a>
            <% } %>
        </div>
    </form>
